@page "/bienvenida"
@rendermode InteractiveServer

<h1 class="mt-5 text-center">Bienvenido a Centro Eventos</h1>
<h3 class="text-center text-muted">Página hecha por Avalos Gonzalo y Buscemi Matias</h3>