@page "/registro"
<div class="container">
    <h3>Registration</h3>
    <form>
        <label>Nombre:</label>
        <input type="nombre" required/>

        <label>Email:</label>
        <input type="email" required/>

        <label>Contraseña:</label>
        <input type="contraseña" required />

        <button type="submit">Registro</button>
    </form>
</div>
@code {

}